<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item previous-button">
      <%= link_to(
            "Previous",
            books_path(search_field: @term, current_page: @current_page, page_action: 'backward'),
            class: "page-link #{'disabled' if @current_page == 0}"
          )
      %>
     </li>
     <li class="page-item next-button">
       <%= link_to(
             "Next",
             books_path(search_field: @term, current_page: @current_page, page_action: 'forward'),
             class: 'page-link'
           )
       %>
     </li>
  </ul>
</nav>


